*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sulphur Point', sans-serif;
}

body{
    background-color: lightgray;
}

#crossStitchTable {
    border-collapse: collapse;
    margin: auto;
}

.backgroundVer{
    background-image: url(./images/backgroundVer.jpeg);
    width: 1rem;
    height: 1rem;
}


.backgroundHor{
    background-image: url(./images/backgroundHor.jpeg);
    width: 1rem;
    height: 1rem;
}

.crossStitchColorPicker{
    margin: 0.5rem auto;
    width: 18rem;
}

.crossStitchColorPicker input{
    position: relative;
    top: -0.2rem;
}

.crossStitchColorPicker input, .crossStitchColorPicker div{
    display: inline-block;
}


.crossStitchPanel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: darkgrey solid 0.3rem;
    border-bottom: none;
    width: 24rem;
    height: 14rem;
    overflow: hidden;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    background-color: white;
    left: 50%;
    margin-left: -12rem;
    z-index: 20;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    transition: height 0.3s, border-top-left-radius 0.3s, border-top-right-radius 0.3s;
}

.crossStitchPanelToggleButton{
    border: darkgrey solid 0.3rem;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    position: absolute;
    bottom: 13.7rem;
    background-color: white;
    left: 50%;
    margin-left: -2rem;
    z-index: 19;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    cursor: pointer;
    transition: bottom 0.3s; 
}

.crossStitchPanelToggleButton p{
    text-align: center;
    font-size: 3rem;
    -webkit-text-stroke: 0.2rem black;
    transform: rotate(45deg);
    transition: transform 0.3s;
    line-height: 1.2rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1rem;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
   
  .slider:hover {
    opacity: 1;
  }
  
  .sliderHeightBox, .sliderWidthBox{
      padding: 0.5rem;
      width: 90%;
      margin: auto;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    background: rgb(82, 82, 82);
    cursor: pointer;
  }
    
  [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  [type=radio] + img {
    cursor: pointer;
  }
  
  [type=radio]:checked + img {
    outline: 0.3rem solid darkgrey;
  }

  @media only screen and (max-width: 45em) {
    body {
      background-color: lightblue;
    }

    .crossStitchColorPicker{
        margin: 0.5rem auto;
    }

    .crossStitchPanel{
        display: block;
        width: 100%;
        overflow: hidden;
        left: 0;
        margin-left: 0;
    }
  }

